<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon_black"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".TweaksHistory"
            android:exported="false" />

        <service android:name=".Service.GetAddressIntentService" />

        <receiver
            android:name=".Receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.MeditationStats"
            android:exported="false" />
        <activity
            android:name=".Activity.PerformMeditationActivity"
            android:exported="false"
            android:theme="@style/Theme.DailyDoze.PerformMeditation" />
        <activity
            android:name=".Activity.NotificationActivity"
            android:exported="false"
            android:theme="@style/Theme.DailyDoze.Notification" />
        <activity
            android:name=".Activity.MeditationActivity"
            android:exported="false"
            android:theme="@style/Theme.DailyDoze.Meditation" />
        <activity
            android:name=".Activity.FastActivity"
            android:exported="false"
            android:theme="@style/Theme.DailyDoze.Fastwatch" />
        <activity
            android:name=".Activity.GraphActivity"
            android:exported="false"
            android:theme="@style/Theme.DailyDoze" />
        <activity
            android:name=".Activity.CalenderActivity"
            android:exported="false"
            android:theme="@style/Theme.DailyDoze.Calender" />
        <activity
            android:name=".Activity.InfoActivity"
            android:exported="false"
            android:theme="@style/Theme.DailyDoze" />
        <activity
            android:name=".Activity.SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.DailyDoze" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.DailyDoze" />
        <activity
            android:name=".Activity.TweakActivity"
            android:exported="false"
            android:theme="@style/Theme.DailyDoze.Tweaks" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.DailyDoze.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.DailyDoze" />
    </application>

</manifest>